@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


.App{
  font-family: 'Open Sans', sans-serif;
  width: 100vw; 
  height: 100vh; 
  background: rgb(255,112,166);
  background: linear-gradient(90deg, rgba(255,112,166,1) 0%, rgba(255,151,112,1) 47%, rgba(255,214,112,1) 85%);
}
